<header class="header">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () { 
      document.getElementById('aap_url').href = "https://controller01-aap.apps." ;
    }
  </script>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://developers.redhat.com" target="_blank"><img
          src="{{uiRootPath}}/img/header_logo.png" height="40px" alt="Red Hat Developer Program"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" id="aap_url" href="" target="_blank">Ansible Automation Platform</a>
    </div>
  </nav>
</header>
